<!DOCTYPE html>
<!--
Copyright © 2017,
Laboratory for Atmospheric Research at Washington State University,
All rights reserved.
-->
<HTML lang="en">

<head>
	<title>AIRPACT-Fire | Research Platform</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/png" href="/static/media/decoration/logo_small.png" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	{% load static from staticfiles %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static '/static/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/static/bootstrap-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/static/main.css' %}">
</head>

<body>
	<div class="bg-warning text-white" style="font-size: 1em; padding: 1em; text-align: center">
			Site is currently been redesigned and is in the alpha stage. Found a bug? Email <a href="mailto:lukedottec@gmail.com">lukedottec@gmail.com</a>.
	</div>

	<!-- Navbar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
        </button>
				<a class="navbar-brand" href="#">
		    <img src="{% static '/static/media/decoration/logo_small.png' %}" width="30" height="30" alt="">
		    AIRPACT-Fire
		  </a>
	    </div>
			<div id="navbar1" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
		      <li><a href="{% url 'home' %}">Home</a></li>
		      <li><a href="{% url 'gallery' %}">Gallery</a></li>
		      <!--<li><a href="{% url 'about' %}">About</a></li>-->
					<li><a href="/forum/">Forum<div id ="forum_notification"> </div></a></li>
		    </ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						{% if user.is_authenticated %}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user }} <span class="caret"></span></a>
						{% else %}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
						{% endif %}
						<ul class="dropdown-menu" role="menu">
							{% if user.is_custom_admin and user.is_authenticated %}
							<li class="dropdown-header">Admin Controls</li>
							<li><a  href="{% url 'adminPage' %}"> User Dashboard </a></li>
							<li class="divider"></li>
							{% endif %}
							{% if user.is_authenticated %}
							 	<li><a href="{% url 'view_profile' user %}"> My Profile </a></li>
					      <li><a href="{% url 'index' %}">Upload Photo</a></li>
							 	<li><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
								<li><a href="{% url 'login' %}">Login</a></li>
								<li><a href="{% url 'register' %}">Register</a></li>
							{% endif %}
						</ul>
				</li>
        <li>
          <p class="navbar-btn">
            <a href="https://play.google.com/store/apps/details?id=lar.wsu.edu.airpact_fire" class="btn btn-default">Download</a>
          </p>
        </li>
				</ul>
			</div>
	  </div>
	</nav>

<div class="container-fluid" style = " display: inline; position:relative" >
	<div id = "body_container_main" class="content"> <!--style="position: relative; width: auto; background-color: rgba(255, 255, 255, 0); padding-top:0px; padding-bottom:0px; display: inline-block;"-->
			{% block airpact-content %}
			{% endblock %}
	</div>
</div>

<div id="footer" class="container-fluid" style = " display: inline; position:relative" >
	<div style = "text-align: center; padding-bottom: 2em;">
	Copyright © 2016-2017,
	<a href="http://lar.wsu.edu">Laboratory for Atmospheric Research</a> at Washington State University,
	All rights reserved.
	</div>
</div>

</body>

<script>

	$("#forum_notification").load("/forum_notifications/");


	// Make the main container and nav links have the appropriate css for the current screen
	function resize_check() {

		// WARNING: The numbers here are constantly changing
		if ($(window).width() > 800) {
			$("#body_container_main").css({"top" : "0px" , "left":"0" });
			$("#main_nav_div.topnav a").css({ "font-size": "16px", "padding":"16px 16px" });
			$("#the_logo").css({"height" : 50});
		} else {
			$("#body_container_main").css({"top" : "0px" , "left":"0" } );
			$("#main_nav_div.topnav a").css({ "font-size": "10px", "padding":"10px 8px" });
			$("#the_logo").css({"height" : 30});
		}
	}

	resize_check();

	$(window).resize(function() {
		resize_check();
	});


</script>

</HTML>
