<!DOCTYPE html>
<!-- 
Copyright © 2017,
Laboratory for Atmospheric Research at Washington State University,
All rights reserved.
-->
<HTML lang="en">

<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '/static/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/static/bootstrap-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/static/main.css' %}">
</head>

<body>

<nav class="navbar" style = "z-index: 100" role="navigation" id="main-nav">
		<div id = "main_nav_div" class= "topnav" style=" color:#FFF; position:fixed; min-width:100%" >
			<div class="navbar-header" style="background-color: #FFF; padding-left:25px;">
				<a href="#" class="navbar-left" style="background-color: #FFF;"> <img id = "the_logo" class="img-responsive" style="height:50px; padding-top:5px;" src="{% static '/static/media/decoration/banner_large.png' %}" > 
				</a>				
			</div>
			<a  href= "{% url 'home' %}" > Home </a>
			<a  href="{% url 'gallery' %}"> Gallery </a>
			<a  href="{% url 'index' %}"> Upload </a>
			<a  href="https://play.google.com/store/apps/details?id=lar.wsu.edu.airpact_fire"> Download </a>
			<a  href="/forum/"> Forum <div id ="forum_notification"> </div></a>
			<a  href="{% url 'about' %}"> About </a>
				{% if user.is_custom_admin and user.is_authenticated %}
					<a  href="{% url 'adminPage' %}"> Admin Page </a>
				{% endif %}
				
				{% if user.is_authenticated %}
				 	<a href="{% url 'view_profile' user %}"> {{ user }} 's Profile </a>
				 	<a href="{% url 'logout' %}"> Logout </a>
				{% else %}
					<a href="{% url 'login' %}"> Login </a> or <a href="{% url 'register' %}"> Register </a>
				{% endif %}		
		</div>
</nav>

<div class="container-fluid" style = " display: inline; position:relative" >		
	<div id = "body_container_main" class="content" style="position: relative; width: auto; background-color: rgba(255, 255, 255, 0.8); padding-top:5px; padding-bottom:5px; display: inline-block;">
			{% block airpact-content %}
			{% endblock %}
	</div>
</div>

<div class="container-fluid" style = " display: inline; position:relative" >
	<div style = "float:left">
	Project Powered by <a href = "http://lar.wsu.edu/"> LAR </a> <br>
	Copyright © 2017,
	Laboratory for Atmospheric Research at Washington State University,
	All rights reserved. <br>
	</div>
</div>	

</body>

<script>


$("#forum_notification").load("/forum_notifications/");


// Make the main container and nav links have the appropriate css for the current screen 
function resize_check(){
	
	// WARNING: The numbers here are constantly changing
	if($(window).width() > 800){
		$("#body_container_main").css({"top" : "0px" , "left":"0" });
		$("#main_nav_div.topnav a").css({ "font-size": "16px", "padding":"16px 16px" });
		$("#the_logo").css({"height" : 50});
	}else {
		$("#body_container_main").css({"top" : "0px" , "left":"0" } );
		$("#main_nav_div.topnav a").css({ "font-size": "10px", "padding":"10px 8px" });
		$("#the_logo").css({"height" : 30});
	}	
}

resize_check();

$(window).resize(function(){  
	resize_check();
})


</script>

</HTML>


