<html>

<!-- NOTE: Gmail only allows embedded styles. -->

<h2 style="text-align: center; color: #333333;">A NEW USER HAS REGISTERED</h2>

<section>
A new user has registered on the <a href="http://airpactfire.eecs.wsu.edu">AIRPACT-Fire website</a>. They have passed the <a href="https://developers.google.com/recaptcha/">reCAPTCHA test</a> (see score below).
</section>

<br />

<section>
<table style="width: 100%; padding: 0.5em; border-radius: 0.25em;">
	<tr>
		<td><b>Username</b></td>
		<td><b>Email</b></td>
		<td><b>Verification Timestamp</b></td>
		<td><b>reCAPTCHA (v3) Score</b></td>
		<td><b>User IP Address</b></td>
		<td><b>Public IP</b></td>
	</tr>
	<tr>
		<td>{{ username }}</td>
		<td>{{ email }}</td>
		<td>{{ captcha_ts }}</td>
		<td>{{ captcha_score }}</td>
		<td>{{ ip }}</td>
		<td>{{ is_routable }}</td>
	</tr>
</table>
</section>

<br />

<section>
You are being notified because you are one of the following admins:
<ul>
{% for admin in admins %}
	<li>{{ admin }}</li>
{% endfor %}
</ul>
</section>

<br />

<section>
<b>Please take action <a href="https://airpactfire.eecs.wsu.edu/user/admin_page">here</a>.</b> Before the user can contribute to the project, they must be certified. However, if you do not want this user to contribute, you may delete them.
</section>
</html>
