{% extends "base/newbase.html" %}
{% block airpact-content %}

<div class="col-md-4" style="">
    <p><h2>Algorithm One </h2></p>
    <p> Orange Circle = Near target</p>
    <p> Yellow Circle = Far Target</p>
    <p> Program will measure both circles based on the smallest radius </p>

    <form action="{% url "index" %}" method="post" style="min-width: 100%;" id="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" id="submitButton" value="Submit" /></p>
    </form>
</div> 

<div class="col-md-9" style="">
    <canvas id="canvas"></canvas>
</div>

<div id = "cords"></div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<div id = "near_circle" class="ui-widget-content"></div>
<div id = "far_circle" class="ui-widget-content"></div>
<div id = "debugging1"> Debugging1 </div>

<script>

// Global Variables
var picture = new Image();

// Vars that effect the python algorithm
var nearX = $('input[name="nearX"]');
var nearY = $('input[name="nearY"]');
var farX = $('input[name="farX"]');
var farY = $('input[name="farY"]');
var radiusNear = $('input[name="radiusNear"]');
var radiusFar = $('input[name="radiusFar"]');

// Default values
radiusFar.val(50);
radiusNear.val(50);
nearX.val(0);
nearY.val(0);
farX.val(0);
farY.val(0);

// Make the near circle draggable 
$( "#near_circle" ).draggable({ containment: "#canvas" });

// Make the near circle resizable 
$( "#near_circle" ).resizable({
    aspectRatio: 1 / 1,    
    stop: function(event, ui) { 
        radiusNear.val(ui.size.width/2);
        $("#debugging1").text("Top offset near Circle: " + $("#near_circle").offset().top + "Top offset canvas: " +  $("#canvas").offset().top)     
    }   
});

// Make the far circle draggable 
$( "#far_circle" ).draggable({ containment: "#canvas" });

// Make the far circle resizable
$( "#far_circle" ).resizable({
    aspectRatio: 1 / 1,    
    stop: function(event, ui) { 
        radiusFar.val(ui.size.width/2);
    }   
});

// Move circles with respect to their saved values
function move_circles()
{
    var saved_near_x = parseInt("{{ picture.nearX }}") +  $("#canvas").offset().left;  
    var saved_near_y = parseInt("{{ picture.nearY }}") + $("#canvas").offset().top;
    var saved_far_x = parseInt("{{ picture.farX }}") +  $("#canvas").offset().left;  
    var saved_far_y = parseInt("{{ picture.farY }}") + $("#canvas").offset().top;
    
    // Edit the offset of the near circle with respect to saved values
    $("#near_circle").offset({
           left : saved_near_x,
           top : saved_near_y
    });

    // Edit the offset of the far circle with respect to saved values
    $("#far_circle").offset({
           left : saved_far_x,
           top : saved_far_y
    });

     // Edit the radius of the near circle with respect to saved values
     $("#near_circle").css({
        "width" : (parseInt("{{picture.radiusLow}}")*2) + "px",
        "height" : (parseInt("{{picture.radiusLow}}")*2) + "px"
     });

     // Edit the radius of the far circle with respect to saved values
     $("#far_circle").css({
        "width" : (parseInt("{{picture.radiusHigh}}")*2) + "px",
        "height" : (parseInt("{{picture.radiusHigh}}")*2) + "px"
     }); 
}

// Move the circles appropriately upon window resize
$(window).resize(function(){
if($('#edit_image_form').is(':visible'))
{
    $("#near_circle").toggle();
    $("#far_circle").toggle();  
    move_circles();
    $("#near_circle").toggle();
    $("#far_circle").toggle();    
}
});

$(document).ready(function(){
    
    // Fill the canvas with the appropriate image
    var context = $("#canvas")[0].getContext('2d');
    var canvas_picture = new Image();
    canvas_picture.src = "{{ picture.image.url }}";
    canvas_picture.onload = function() {
        $("#canvas")[0].width = canvas_picture.naturalWidth;
        $("#canvas")[0].height = canvas_picture.naturalHeight;
    context.drawImage(canvas_picture, 0, 0);
    }; 

    // Do we have an algorithm already created? 
    if("{{ has_alg }}" === "True")
    {

        move_circles();
    }

    $('#form').submit(function(){
        nearY.val($("#near_circle").offset().top - $("#canvas").offset().top);
        nearX.val($("#near_circle").offset().left - $("#canvas").offset().left);
        farY.val($("#far_circle").offset().top - $("#canvas").offset().top);
        farX.val($("#far_circle").offset().left - $("#canvas").offset().left);

        alert("canvas.offset().top: "  + $("#canvas").offset().top + " near_circle.offset().top: " + $("#near_circle").offset().top );
        alert("canvas.offset.left: "  + $("#canvas").offset().left + " near_circle.offset().left: " + $("#near_circle").offset().left )
        $('#submitButton').attr("disabled", "disabled");
    });
});

</script>



<p id="debugging"></p>
{% endblock %}
