<!DOCTYPE html>
<!-- 
Copyright © 2017,
Laboratory for Atmospheric Research at Washington State University,
All rights reserved.
-->
<HTML lang="en">

<body>
	{% for comment in comments %}
		{% if comment.id|divisibleby:2 %}
			<div class = "col-lg-12 commentRow">
			<p class="col-lg-12 comment-header"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<strong><p class="col-lg-12">{{ comment.text }} </p></strong>
			</div>	
		{% else %}
			<div class = "col-lg-12 commentRow2">
			<p class="col-lg-12 comment-header"> Posted by: {{ comment.user }} on {{ comment.submit_date }}</p>
			<strong><p class="col-lg-12">{{ comment.text }} </p> </strong>
			</div>	
		{% endif %}
	{% endfor %}

<div class= "col-lg-12">
		<ul class="pagination">
			{% if comments.paginator.num_pages > 1 %}
				{% for num in comments.paginator.page_range %}
					{% if comments.number == num %}
						<li class="active pagination_submit"> <a href="" > {{ num }} </a> </li>
					{% else %}
						<li> <a href = "/picture/view/{{ picture_id }}/{{ num }}/#comment_start ">{{ num }}</a> </li>
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>

</body>

<script type="text/javascript">

</script>