{% extends "base/newbase.html" %}
{% block airpact-content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">AIRPACT-Fire Documentation<sup>&beta;</sup></h1>
    <p class="lead">Resources for new and existing developers, researchers, and testers.</p>
  </div>
</div>
<div class="container">
	<h2>Onboarding</h2>
	<p>Guidance for ramping-up new users of the platform.<p>
	
	<h3>👨🏼‍💻 Developers</h3>
	<p>Join the <b>Slack</b> page <a href="https://join.slack.com/t/airpactfire/shared_invite/enQtNTUxNTQ3MDk2MDE5LTc2ZDMyYjA4YzM2YzNhYjY2ZjYxOGEzYzZjZDRjY2MwNWViNmFlYWFmY2EwNGNlOGYzYmYwNzE3ZTU2MWMzZTE">here</a>.</p>
	<p>Join the <b>GitHub</b> repository <a href="https://github.com/AIRPACT-Fire">here</a>.</p>
	<p>Please reach out to <a>lukedottec@gmail.com</a> with any questions, or pose them in the Slack <code>#general</code> channel.</p>
	<h3>👩🏽‍🔬 Researchers</h3>
	<p><i>Coming soon.</i><p>

	<h3>👷 Testers</h3>
	<p><i>Coming soon.</i><p>
</div>

<script>
	// Show page as active.
	$("#nav-docs-link").addClass("active");
</script>
	
{% endblock %}
