{% extends "base/newbase.html" %}
{% block airpact-content %}
{% load static from staticfiles %}
<h2 class="col-md-12 col-lg-12"> Android APK</h2>
	<p class="col-lg-12"> Get the Android app: <a href="https://play.google.com/store/apps/details?id=lar.wsu.edu.airpact_fire"></a> </p>
<h2 class="col-md-12 col-lg-12"> Manual </h2>
	<p class="col-md-12"> <a href="{% static '/static/manual/V0.6.pdf' %}"> Download Link </a></p>
<!-- 	<div class="col-lg-4">
		<table class="table">
			<thead>
				<th> Version </th>
				<th> Download </th>
			</thead>
			<tr>
			 	<td> V0.5 </td>
			 	<td> <a href="/static/manual/V0.6.pdf"> Link </a> </td>
			 </tr>

		</table>
	</div> -->


{% endblock %}