{% extends "base/newbase.html" %}
{% block airpact-content %}
<div class="col-md-10" style=" width:2000px">
		<p>{{ Errors }} </p>
		<H3> {{ Messages }} </H3>
	<table class="table table-striped">
	<form action = "forgot_password" method = "post"> {% csrf_token %}
		<tr>
			<td> 
				<label for = "username"> Username or Email </label> 
				<input type="text" name="username" value="" id="username">
	    	</td>
		</tr>
		<tr>
			<td>
				<input type = "submit" value="Submit">
			</td>	
		</tr>
	</form>
	</table>
</div>

{% endblock %}