{% extends "base/newbase.html" %}
{% block airpact-content %}

<div class="imageAndText">
    <img src="https://raw.githubusercontent.com/AIRPACT-Fire/design/master/feature_graphic/png/feature_graphic.png" width="100%">
    <div class="col col-sm-12">
      <div css="margin: 0 auto;">
	<!--
        <h1>AIRPACT-Fire Has Finally Arrived</h1>
        <h3>Help your community track your local air quality now.</h3>
        <div class="btn-group">
          <button class="btn-lg btn-primary" type="button">Get started</button>
          <button class="btn-lg btn-default" type="button">Learn more</button>
        </div>
	-->
      </div>
    </div>
</div>
<script>
    // Show this page as active
    $("#nav-home-link").addClass("active");
</script>

{% endblock %}
