{% extends "base/newbase.html" %}
{% block airpact-content %}

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="img/yourimage.png" alt="" class="img-responsive">
           <div class="carousel-caption">
           Insert your text here !
           </div>
        </div>
    </div>
</div>

<h1>AIRPACT-Fire is Here!</h1>
<p>The air never smelled so sweet -- eh... I mean clean!</p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

 <script>
    // Show this page as active
    $("#nav-home-link").css("color", "black");
</script>

{% endblock %}
