{% extends "base/newbase.html" %}
{% block airpact-content %}

<div class="col-md-10" style=" width:2000px">
		<p>{{ Errors }} </p>
		<H2> Login </H2>
	<table class="table table-striped">
	<form action = "auth" method = "post"> {% csrf_token %}
		<tr>
			<td> 
				<label for = "username"> Username </label> 
				<input type="text" name="username" value="" id="username">
	    	</td>
		</tr>
		<tr>
	  		<td>
				<label for = "password"> Password </label>
				<input type = "password" name = "password" value ="" id="password">
	  		</td>
		</tr>
		<tr>
			<td>
				<input type = "submit" value="login">
			</td>	
		</tr>
	</form>
	</table>
	<a href="{% url 'forgot_password' %}">  Forgot Password? </a>
</div>

{% endblock %}
