{% extends "base/newbase.html" %}
{% load comments %}
{% block airpact-content %}
<!-- The image -->
<div class = "col-md-10"></div>

<div class="col-md-9" style="">
    <canvas id="canvas"></canvas>
</div>

<!-- Canvas -->
<div class ="col-lg-9">
<table class="table table-striped">
	<tr>
		<td> Estimated Visual Range: {{ picture.vr }} </td>
	</tr>
	<tr>
		<td> Computed Visual Range: {{ picture.twoTargetContrastVr }} </td>
	</tr>
	<tr>
		<td> User:  <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </td>
	</tr>
	<tr>
		<td> Description: {{ picture.description }} </td>
	</tr>
	<tr>
		<td> Location: {{ tag.text }}</td>
	</tr>
</table>
</div>

<!-- Slideshow -->
<div class = "col-lg-9">
<button class = "btn btn-info" id ="timeline"> View Timeline </button> 
</div>

<div class="slideShowContainer" id="slideShowContainer">
	<div id="slideShowMainPicture"> 
		<div id="slideShowBottomInfoPanel"> 
			<table class="table">
			<thead>
				<th> Date </th>
				<th> Location </th>
				<th> Visual Range </th>
				<th> Description </th>
			</thead>
			</tr>
				<td id="slideShowDate">{{ picture.uploaded }}</td>
				<td id="slideShowLocation"> {{tag.text}} </td>
				<td id="slideShowVr"> {{ picture.vr }}</td>
				<td id="slideShowDesc"> {{ picture.description }}</td>
			</tr>
			</table>
		</div>
	</div>
	<div id="slideShowLeftNavArrow"> </div>
	<div id="slideShowRightNavArrow"> </div>
</div>

{% if user.is_authenticated %}
	<div class = "col-lg-9" id = "show_edit_options">
		<p> <button type="submit" class="btn btn-info" >Edit Image</button> </p>
	</div>

	<div id = "edit_image_form" class = "col-lg-12" style="padding-bottom: 5px; display:none;"> 
		<form  class="form-inline" method="POST">
			{% csrf_token %}
			{{ picture_form }}
		</form>
	</div>	
{% endif %}

<!-- Comments -->
<div class="col-lg-9">
	<a name="comment_start"></a>
	<div class = "comment_form">

	{% if user.is_authenticated %}
		{% get_comment_form for convos as form %}
	<form action = "{% comment_form_target %}" method="POST">
		{% csrf_token %}
		{{ form.comment }}
		{{ form.content_type }}
		{{ form.object_pk }}
		{{ form.timestamp }}
		{{ form.security_hash }}

		<input type ="hidden" name="name" value = "{{ user }}">
		<input type ="hidden" name="email" value = "nothing@gmail.com">
		<input type ="hidden" name="url" value = "https://www.nothing.com">
		<input type = "hidden" name = "next" value="/picture/view/{{ picture.id }}#comment_start">
		<p><input type = "submit" value= "Add comment" id="id_submit" /></p>
	</form>

		{% else %}
			<p> Please log in to comment </p>
		{% endif %}
	</div>

		<H2 class="col-lg-12">Comments: </H2>
		{% get_comment_list for convos as comment_list %}
			{% for comment in comment_list reversed %}
				{% if comment.id|divisibleby:2 %}
					<div class = "col-lg-12 commentRow">
					<p class="col-lg-12 comment-header"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
					<strong><p class="col-lg-12">{{ comment.comment }} </p></strong>
					</div>	
				{% else %}
					<div class = "col-lg-12 commentRow2">
					<p class="col-lg-12 comment-header"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
					<strong><p class="col-lg-12">{{ comment.comment }} </p> </strong>
					</div>	
				{% endif %}
			{% endfor %}
	</div>
</div>

<p id = "debugger1"> The Debugger1 </p>
<p id = "debugger2"> The Debugger2 </p> 

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
	
<div id = "near_circle" class="ui-widget-content draggable"></div>
<div id = "far_circle" class="ui-widget-content draggable"></div>

<script>
"use strict";

// General Global variables
var sampleToggleState = 0;
var pictures = [];
var starting_index = 0;
var currentIndex = 0;

// Variables obtained from the form
var nearX = $('input[name="nearX"]');
var nearY = $('input[name="nearY"]');
var farX = $('input[name="farX"]');
var farY = $('input[name="farY"]');
var radiusNear = $('input[name="radiusNear"]');
var radiusFar = $('input[name="radiusFar"]');

// Default values
radiusFar.val(50);
radiusNear.val(50);
nearX.val(0);
nearY.val(0);
farX.val(0);
farY.val(0);

// Make the near circle draggable and hidden
$( "#near_circle" ).draggable({
	containment: "#canvas" 
});
$( "#near_circle" ).hide();

// Make the near circle resizable 
$( "#near_circle" ).resizable({
    aspectRatio: 1 / 1,    
    stop: function(event, ui) { 
        radiusNear.val(ui.size.width/2);
    }   
});

// Make the far circle draggable and hidden
$( "#far_circle" ).draggable({ 
	containment: "#canvas" 
});
$( "#far_circle" ).hide();

// Make the far circle resizable
$( "#far_circle" ).resizable({
    aspectRatio: 1 / 1,    
    stop: function(event, ui) { 
        radiusFar.val(ui.size.width/2);
    }   
});

// Move circles with respect to their saved values
function move_circles(){

	var saved_near_x = parseInt("{{ picture.lowX }}") +  $("#canvas").offset().left;  
    var saved_near_y = parseInt("{{ picture.lowY }}") + 61;

    var saved_far_x = parseInt("{{ picture.highX }}") +  $("#canvas").offset().left;  
    var saved_far_y = parseInt("{{ picture.highY }}") + 61;
	

	// Edit the offset of the near circle with respect to saved values
	$("#near_circle").offset({
           left : saved_near_x,
           top : saved_near_y
    });

	// Edit the offset of the far circle with respect to saved values
	$("#far_circle").offset({
           left : saved_far_x,
           top : saved_far_y
    });

	 // Edit the radius of the near circle with respect to saved values
	 $("#near_circle").css({
	 	"width" : (parseInt("{{picture.radiusLow}}")*2) + "px",
	 	"height" : (parseInt("{{picture.radiusLow}}")*2) + "px"
	 });

	 // Edit the radius of the far circle with respect to saved values
	 $("#far_circle").css({
	 	"width" : (parseInt("{{picture.radiusHigh}}")*2) + "px",
	 	"height" : (parseInt("{{picture.radiusHigh}}")*2) + "px"
	 }); 

	 $("#debugger1").text("Canvas top: " + $("#canvas").offset().top );
}


// Upon clicking our edit button, Change the position and radius of the circle
// to our recorded value. And toggle the display of the form
$('#show_edit_options').click(function(){
	$("#near_circle").toggle();
	$("#far_circle").toggle();
	move_circles();

    $("#edit_image_form").toggle();
});

// Move the circles appropriately upon window resize
$(window).resize(function(){
if($('#edit_image_form').is(':visible'))
{
	$("#near_circle").toggle();
	$("#far_circle").toggle();	
	move_circles();
	$("#edit_image_form").toggle();
}
});

 // Fill the canvas with the appropriate image
 var context = $("#canvas")[0].getContext('2d');
 var canvas_picture = new Image();
 canvas_picture.src = "{{ picture.pic.url }}";
 canvas_picture.onload = function() {
 	$("#canvas")[0].width = canvas_picture.naturalWidth;
 	$("#canvas")[0].height = canvas_picture.naturalHeight;
    context.drawImage(canvas_picture, 0, 0);
 };	
 
//
{% for picture in pictures %}
	pictures.push(new picture ({{picture.id}}, "{{picture.uploaded}}",{{picture.vr}}, "{{picture.description}}", "{{picture.pic.url}}"));
{% endfor %}


function picture (id, date, vr, description, url){
	this.id = id;
	this.date = date;
	this.vr= vr;
	this.description = description;
	this.url = url;
}

// Fade effect
function fadeScreen(){
	 $("#overlay").slideDown ( function(){ $("#slideShowContainer").fadeIn() });
}

// Fade back to the original page
function fadeBack(){

	$('#slideShowContainer').fadeOut( function(){ 
		$("#overlay").slideUp(); 
		currentIndex=starting_index;
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
	});	
}

// Locate starting image for timeline
function findStartingIndex()
{
	var currentPicid = "{{ picture.id }}";
	for(var i = 0; i < pictures.length; i++)
	{
		if(currentPicid == pictures[i].id)
		{
			starting_index = i;
		}
	}
}

// Move left in the timeline
function moveLeft()
{
	if(currentIndex == 0)
	{
		currentIndex = pictures.length - 1;
	}
	else
	{
		currentIndex = currentIndex - 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

// Move right in the timeline
function moveRight()
{
	if(currentIndex == pictures.length-1)
	{
		currentIndex = 0;
	}
	else
	{
		currentIndex = currentIndex + 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

function updateTable()
{
	$('#slideShowDate').html(String(pictures[currentIndex].date));
	$('#slideShowVr').html(String(pictures[currentIndex].vr));
	$('#slideShowDesc').html(String(pictures[currentIndex].description));
}

$(document).ready(function(){
    var hidden = false;
	findStartingIndex();
	currentIndex=starting_index;
	$("#slideShowMainPicture").css('background-image', "url("+String(pictures[starting_index].url)+")");
	
	$('#timeline').click(function(){
		if (hidden == false)
		{
			fadeScreen();
			hidden=true;
		}
	});

	$('#overlay').click(function(){
		if(hidden == true)
		{
			fadeBack();
			hidden=false;
		}
	});

	$('#slideShowLeftNavArrow').click(function(){
		moveLeft();
	});

	$('#slideShowRightNavArrow').click(function(){
		moveRight();
	});

});

</script>
{% endblock %}