{% extends "base/newbase.html" %}
{% load comments %}
{% block airpact-content %}

<div id= "overlay"></div>

<div class="container">
	<div class="row">
		<!-- The image -->
		<div class="col-sm-12 col-md-6">
			<img class="img-thumbnail" style="width:100%" src="{{ picture.image.url }}" alt="{{ picture.image.url}}" id ="mainPicture" /> 
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col">
					<div id="map" class="img-thumbnail"></div>
				</div>
			</div>
			<!-- Image fields. -->
			<div class="row">
				<div class="col">
					<table class="table table-striped">
						<tr>
							<td><b>Estimated Visual Range:</b> {{ picture.eVisualRange }} </td>
						</tr>
						<tr>
							<td><b>Computed Visual Range:</b> {{ computed_vr }} <br /> <b>Algorithm</b>: {{ picture.algorithmType }} </td>
						</tr>
						<tr>
							<td><b>User:</b> <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </td>
						</tr>
						<tr>
							<td><b>Description:</b> {{ picture.description }} </td>
						</tr>
						<tr>
							<td><b>Location:</b> {{ tag.text }}</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- Buttons. -->
			<div class="row">
				<div class="col">
					<div class="btn-group" role="group" aria-label="Basic example">   
						<button id="timeline" type="submit" class="btn btn-primary">View Timeline</button>   
						<button type="button" class="btn btn-secondary">Edit Location</button> 
						<button type="button" class="btn btn-dark">Edit Image</button>   
					</div>
				</div>
				<!-- TODO: Incorporate the actions from below with style above (buttons).
				<div class="col">
					<button type = "submit" class = "btn btn-info" id ="timeline"> View Timeline </button>
				</div>
				<div class="col">
					<form action="/picture/{{ picture.id }}/" method="get">
						<input class = "btn btn-info" type="submit" value="Edit Image Algorithm" name="Edit image" id="edit_image" /></input>
					</form>
				</div>
				<div class="col">
					<form action="/picture/location/{{ picture.id }}/" method="get">
						<input class = "btn btn-info" type="submit" value="Edit Image Location" name="Edit image location" id="edit_image" /></input>
					</form>
				</div>
				-->
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Comments. -->
		<div class="col-lg-12">

			<div class = "comment_form">
			{% if user.is_authenticated %}
			<form action = "comments/{{ picture.id }}/1" method="POST">	
				{% csrf_token %}
				{{ comment_form }}
				<button id="post_comment" type="submit" class="button-submit">post</button>
			</form>

			{% else %}
				<p> Please log in to comment </p>
			{% endif %}
			</div>

			<div id = "comment_list"></div>
			<a name="comment_start"></a>
			</div>
		</div>
	</div>
	<!-- Slideshow. -->
	<div id = "slideShowWrapper">
		<div class="slideShowContainer" id="slideShowContainer">
			<div id="slideShowMainPicture"> 
				<div id="slideShowBottomInfoPanel"> 
					<table class="table">
					<thead>
						<th> Date </th>
						<th> Location </th>
						<th> Visual Range </th>
						<th> Algorithm Type:
						<th> Description </th>
					</thead>
					</tr>
						<td id="slideShowDate">{{ picture.uploaded }}</td>
						<td id="slideShowLocation"> {{tag.text}} </td>
						<td id="slideShowVr"> {{ picture.eVisualRange }} </td>
						<td> Algorithm: {{ picture.algorithmType }}</td>
						<td id="slideShowDesc"> {{ picture.description }}</td>

					</tr>
					</table>
				</div>
			</div>
			<div id="slideShowLeftNavArrow"> </div>
			<div id="slideShowRightNavArrow"> </div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script type="text/javascript">
"use strict";

// General Global variables
var sampleToggleState = 0;
var pictures = [];
var starting_index = 0;
var currentIndex = 0;

// Render the list of comments via ajax
function render_comment_list(){
	$("#comment_list").load("/comments/{{ picture.id }}/{{ comment_num }}/");
}

// Post and render the comment list upon clickin the post comment button
$("#post_comment").on('click', function(e) {
    e.preventDefault();
    var form = $(this).closest("form");
     $.ajax({
            url: "/comments/{{ picture.id }}/1/",
            type: 'POST',
            data: form.serialize()
        }).done(function(data) {
        	render_comment_list();
        });
    	return false;
	});
 
//
{% for picture in pictures %}
	pictures.push(new picture ({{ picture.id }}, "{{ picture.uploadTime }}", {{ picture.eVisualRange }}, "{{picture.description}}", "{{ picture.image.url }}"));
{% endfor %}

function picture(id, date, vr, description, url){
	this.id = id;
	this.date = date;
	this.vr= vr;
	this.description = description;
	this.url = url;
}

// Fade effect
function fadeScreen(){
	 $("#overlay").slideDown ( function(){ $("#slideShowContainer").fadeIn() });
}

// Fade back to the original page
function fadeBack(){

	$('#slideShowContainer').fadeOut( function(){ 
		$("#overlay").slideUp(); 
		currentIndex=starting_index;
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
	});	
}

// Locate starting image for timeline
function findStartingIndex()
{
	var currentPicid = "{{ picture.id }}";
	for(var i = 0; i < pictures.length; i++)
	{
		if(currentPicid == pictures[i].id)
		{
			starting_index = i;
		}
	}
}

// Move left in the timeline
function moveLeft()
{
	if(currentIndex == 0)
	{
		currentIndex = pictures.length - 1;
	}
	else
	{
		currentIndex = currentIndex - 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

// Move right in the timeline
function moveRight()
{
	if(currentIndex == pictures.length-1)
	{
		currentIndex = 0;
	}
	else
	{
		currentIndex = currentIndex + 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

function updateTable()
{
	$('#slideShowDate').html(String(pictures[currentIndex].date));
	$('#slideShowVr').html(String(pictures[currentIndex].vr));
	$('#slideShowDesc').html(String(pictures[currentIndex].description));
}

$(document).ready(function(){
	render_comment_list();
    
	findStartingIndex();
	currentIndex=starting_index;
	$("#slideShowMainPicture").css('background-image', "url("+String(pictures[starting_index].url)+")");

	var hidden = false;

	$("#timeline").on('click', function(e) {
		if (hidden == false)
		{
			$("#slideShowWrapper").toggle();
			fadeScreen();
			hidden=true;
		}

	});

	$('#overlay').click(function(){
		if(hidden == true)
		{
			fadeBack();
			$("#slideShowWrapper").toggle();
			hidden=false;
		}
	});

	$('#slideShowLeftNavArrow').click(function(){
		moveLeft();
	});

	$('#slideShowRightNavArrow').click(function(){
		moveRight();
	});

});

</script>

<script>

    // TODO: update this hard-coding?
    var centerLat = 45.84921;
    var centerLong = -116.73317;

    var pictures = [];
    var markerList = [];
    var infoWindow;

    let pic = new picture2("{{picture.thumbnail.url}}",
        {{picture.geoY}},{{picture.geoX}}, "", "{{picture.user}}",
        "{{picture.description}}", "/picture/view/" + {{picture.id}} + "/");

    function picture2(thumbnailUrl, lat, lng, location, user, description, link)
    {
      this.thumbnailUrl = thumbnailUrl;
      this.lat = lat;
      this.lng = lng;
      this.location = location;
      this.user = user;
      this.description = description;
      this.link = link;
    }

function initMap() {
        infoWindow = new google.maps.InfoWindow({ content: "hello" });
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
           center: {lat: centerLat, lng: centerLong},
           zoom: 7,
           mapTypeId: 'hybrid'
        });

	  let pos = {lat: pic.lat, lng: pic.lng};
	  let marker = new google.maps.Marker({
	      position: pos,
	      map: map,
	      title: 'Hello, World!'
	  });
	  console.log(pos);

        map.setCenter(pos);

/*
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function (position) {
		     initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		     map.setCenter(initialLocation);
		});
	}
*/
}

function adjustMap() {
/*
        $("#map").width($(window).width());
        $("#map").height($(window).height() * .20);
*/
        $("#map").css("width", "auto");
        $("#map").css("height", "20em");
      }

      // TODO: More universal placement of resize function?
      $( window ).resize(function() {
        adjustMap();
      });


      // Loading adjustment
      adjustMap();

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp587g3ut0dYnLfl2gfeWTc0fAxujtVcw&callback=initMap"></script>

{% endblock %}
