{% extends "base/newbase.html" %}
{% load comments %}
{% block airpact-content %}
	<div class ="col-md-4">
	<table class="table table-striped">
		<tr>
			<td> Estimated Visual Range </td>
			<td> {{ picture.vr }} </td>
		</tr>
		<tr>
			<td> Computed Visual Range </td>
			<td> {{ picture.twoTargetContrastVr }} </td>
		</tr>
		<tr>
			<td> User </td>
			<td> <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </td>
		</tr>
		<tr>
			<td> Description </td>
			<td> {{ picture.description }} </td>
		</tr>
		<tr>
			<td> Location </td>
			<td> {{ tag.text }} </td>
		</tr>
	</table>
	</div>

	<div id = "show_edit_options">
		<p> <button type="submit" class="btn btn-info" >Edit Image</button> </p>
	</div>

	<div class="col-md-12" style="padding-bottom: 5px; display:none;"> 
		<form class="form-inline" method="POST">
			{% csrf_token %}
			{{ picture_form }}
		</form>
	</div>	

	<p id ="timeline"> Click Here for Timeline Slideshow </p> 
	
	<div class="col-md-9" style="">
    	<canvas id="canvas">
    	</canvas>
	</div>


	<div class="col-lg-12">
		<a name="comment_start"></a>
		<div class = "comment_form">

			{% if user.is_authenticated %}
			{% get_comment_form for convos as form %}
			<form action = "{% comment_form_target %}" method="POST">
			{% csrf_token %}

			{{ form.comment }}

			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}

			<input type ="hidden" name="name" value = "{{ user }}">
			<input type ="hidden" name="email" value = "nothing@gmail.com">
			<input type ="hidden" name="url" value = "https://www.nothing.com">

			<input type = "hidden" name = "next" value="/picture/view/{{ picture.id }}#comment_start">
			<p><input type = "submit" value= "Add comment" id="id_submit" /></p>
			</form>

			{% else %}

			<p> Please log in to comment </p>

			{% endif %}
		</div>

		<H2 class="col-lg-12">Comments: </H2>


		{% get_comment_list for convos as comment_list %}
		{% for comment in comment_list reversed %}


		{% if comment.id|divisibleby:2 %}
		<div class = "col-lg-12 commentRow">
			<p class="col-lg-12 comment-header"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<strong><p class="col-lg-12">{{ comment.comment }} </p></strong>
		</div>	
		{% else %}
		<div class = "col-lg-12 commentRow2">
			<p class="col-lg-12 comment-header"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<strong><p class="col-lg-12">{{ comment.comment }} </p> </strong>
		</div>	
		{% endif %}


		{% endfor %}
	</div>
</div>

<div class="slideShowContainer" id="slideShowContainer">
	<div id="slideShowMainPicture"> 
		<div id="slideShowBottomInfoPanel"> 
			<table class="table">
			<thead>
				<th> Date </th>
				<th> Location </th>
				<th> Visual Range </th>
				<th> Description </th>
			</thead>
			</tr>
				<td id="slideShowDate">{{ picture.uploaded }}</td>
				<td id="slideShowLocation"> {{tag.text}} </td>
				<td id="slideShowVr"> {{ picture.vr }}</td>
				<td id="slideShowDesc"> {{ picture.description }}</td>
			</tr>
			</table>
		</div>
	</div>
	<div id="slideShowLeftNavArrow"> </div>
	<div id="slideShowRightNavArrow"> </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
	
<div id = "near_circle" class="ui-widget-content"></div>
<div id = "far_circle" class="ui-widget-content"></div>

<script>

// General Global variables
var sampleToggleState = 0;
var pictures = [];
var starting_index = 0;
var currentIndex = 0;
var canvas_picture = new Image();

// Variables obtained from the form
var nearX = $('input[name="nearX"]');
var nearY = $('input[name="nearY"]');
var farX = $('input[name="farX"]');
var farY = $('input[name="farY"]');
var radiusNear = $('input[name="radiusNear"]');
var radiusFar = $('input[name="radiusFar"]');

// Default values
radiusFar.val(50);
radiusNear.val(50);
nearX.val(0);
nearY.val(0);
farX.val(0);
farY.val(0);

// Make the near circle draggable and hidden
$( "#near_circle" ).draggable({ containment: "#mainPicture" });
$( "#near_circle" ).hide();

// Make the near circle resizable 
$( "#near_circle" ).resizable({
    aspectRatio: 1 / 1,    
    stop: function(event, ui) { 
        radiusNear.val(ui.size.width/2);
    }   
});

// Make the far circle draggable and hidden
$( "#far_circle" ).draggable({ containment: "#mainPicture" });
$( "#far_circle" ).hide();

// Make the far circle resizable
$( "#far_circle" ).resizable({
    aspectRatio: 1 / 1,    
    stop: function(event, ui) { 
        radiusFar.val(ui.size.width/2);
    }   
});

// Upon clicking our edit button, Change the position and radius of the circle
// to our recorded value. And toggle the display of the form
$('#show_edit_options').click(function(){
	 $("#near_circle").show();
	 $("#near_circle").css({
           "top":"{{ picture.lowY }}",
           "left":"{{ picture.lowX }}",
      })

    $(this).next().slideToggle();
    return false;
});

//
{% for picture in pictures %}
	pictures.push(new picture ({{picture.id}}, "{{picture.uploaded}}",{{picture.vr}}, "{{picture.description}}", "{{picture.pic.url}}"));
{% endfor %}


function picture (id, date, vr, description, url){
	this.id = id;
	this.date = date;
	this.vr= vr;
	this.description = description;
	this.url = url;
}

// Fade effect
function fadeScreen(){
	$('#overlay').slideDown( function(){ 	$("#slideShowContainer").fadeIn(); });
}

// Fade back to the original page
function fadeBack(){

	$('#slideShowContainer').fadeOut( function(){ 
		$("#overlay").slideUp(); 
		currentIndex=starting_index;
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
	});
	
}

// Locate starting image for timeline
function findStartingIndex()
{
	var currentPicid = {{ picture.id }}
	for(var i = 0; i < pictures.length; i++)
	{
		if(currentPicid == pictures[i].id)
		{
			starting_index = i;
		}
	}
}

// Move left in the timeline
function moveLeft()
{
	if(currentIndex == 0)
	{
		currentIndex = pictures.length - 1;
	}
	else
	{
		currentIndex = currentIndex - 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

// Move right in the timeline
function moveRight()
{
	if(currentIndex == pictures.length-1)
	{
		currentIndex = 0;
	}
	else
	{
		currentIndex = currentIndex + 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

function updateTable()
{
	$('#slideShowDate').html(String(pictures[currentIndex].date));
	$('#slideShowVr').html(String(pictures[currentIndex].vr));
	$('#slideShowDesc').html(String(pictures[currentIndex].description));
}

function toggleSampleOverlay()
{
	if(sampleToggleState === 0)
	{
		$('#mainPicture').attr("src","{{ picture.pictureWithCircles.url }}");
		sampleToggleState = 1;
	}
	else
	{
		$('#mainPicture').attr("src","{{ picture.pic.url }}");
		sampleToggleState = 0;

	}
}

function imgLoad()
{
	var canvas = $('#canvas')[0];
	var context = canvas.getContext('2d');
	context.drawImage(canvas_picture, 0, 0, 1000, 1000);
}

$(document).ready(function(){
    
	findStartingIndex();
	currentIndex=starting_index;
	$("#slideShowMainPicture").css('background-image', "url("+String(pictures[starting_index].url)+")");
	hidden = false;
	$('#timeline').click(function(){
		if (hidden == false)
		{
			fadeScreen();
			hidden=true;
		}
	});

	$('#overlay').click(function(){
		if(hidden == true)
		{
			fadeBack();
			hidden=false;
		}
	});

	$('#slideShowLeftNavArrow').click(function(){
		moveLeft();
	});

	$('#slideShowRightNavArrow').click(function(){
		moveRight();
	});

	$('#sampleToggle').click( function() {
		toggleSampleOverlay();
	});

});

 // Create our image
 var canvas = $('#canvas')[0];
 var context = canvas.getContext('2d');
 canvas_picture.src = "{{ picture.pic.url }}";
 canvas_picture.onload = function() {
    context.drawImage(canvas_picture, 0, 0);
 };


</script>
{% endblock %}